[submodule "dudelunch/infinity-hugo"]
	path = dudelunch/infinity-hugo
	url = https://github.com/themefisher/infinity-hugo.git
# [submodule "themes/hugo-split-theme"]
# 	path = themes/hugo-split-theme
# 	url = https://github.com/escalate/hugo-split-theme.git
